#refreshButton { 
    position: fixed;
    right: 0;
    top: 0;
}

.triviaQuestion { 
    border: 1px solid #000;
    margin-bottom: 5px;
}

.correct {
    color: green;
}
.incorrect {
    color: red;
}
/* Add additional styles for the trivia question layout */